.containerItem {
    display: flex;
    padding: 7px 10px;
    border-bottom: 1px solid gray;
    justify-content: space-around;
}

.link {
    display: flex;
    width: 100%;
}

.link>span {
    width: 50%;
}

.controlSection {
    display: flex;
    justify-content: space-between;
      margin-left: auto;
}

.basket {
    cursor: pointer;
    fill: gray;
    margin-left: 10px;
}