.containerItem {
    display: flex;
    padding: 7px 10px;
    border-bottom: 1px solid var(--input-border-color);
    justify-content: space-around;
    align-items: center;
}

.link {
    display: flex;
    width: 100%;
}

.link>span {
    width: 50%;
}

.controlSection {
    display: flex;
    justify-content: space-between;
      margin-left: auto;
}

.basket {
    cursor: pointer;
    fill: gray;
    margin-left: 10px;
}

@media screen and (min-width: 1200px){
    .containerItem{
        padding: 7px 15px;
        font-size: 1.2rem;
    }
}