.baseStyle {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
     width: 100%;
  }

  @media screen and (min-width: 320px){
    .baseStyle{
      width: 320px;
    }
  }

  @media screen and (min-width: 768px){
    .baseStyle{width: 768px;} 
   }
  
@media screen and (min-width: 1200px){
 .baseStyle{width: 1200px;
} 
}