.filter{
    display: block;
    border: 1px solid var(--form-border-color);
    width: 100%;
    border-radius: 5px;
    padding: 8px 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.filter:focus{
    border-color: var(--input-focus-color);
    outline: none;
}

@media screen and (min-width: 768px) {
    .filter{
        width: 400px;
    }
}

@media screen and (min-width: 1200px) {
   .filter{
    width: 600px;
     margin-bottom: 15px;
    padding: 10px;
   }
}