.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-size: 0.9rem;
  }

  .label{
    margin-bottom: 8px;
      }

  .input{
    padding: 7px 10px;
           border: 1px solid var(--input-border-color);
           border-radius: 4px;
           transition: border-color 0.3s easy;
      }

  .input:focus{
    border-color: var(--input-focus-color);
    outline: none;
  }

@media screen and (min-width: 768px) {
  .section{
    font-size: 1rem;
  }
  .label{
    margin-bottom: 10px;
      }
}