.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .label{
    margin-bottom: 7px;
      }

  .input{
    padding: 10px 10px;
    border: 1px solid grey;
    border-radius: 5px;
      }

  .input:focus{
   outline: 1px solid grey;
  }

