.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .label{
    margin-bottom: 7px;
      }

  .input{
    padding: 10px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.151);
      }

  .input:focus{
   
   outline: 2px solid rgb(4, 217, 249);
  }

