.container{
margin-left: auto;
}

.greetingText{
  display: none;
}

.logout{
     cursor: pointer;
     font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    .greetingText{
        display: inline-block;
        margin-right: 40px;
    }
    .logout{
        font-size: 1rem;
   }
}